*{
    overflow-x: hidden;
    margin: 0 0;
    padding: 0 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes blur_in_and_darkenss {
    0%{
        filter: blur(0rem) brightness(1);
    }

    100%{
        filter: blur(0.3rem) brightness(0.5);
    }
}

@keyframes slip_and_fade_in {
    0%{
        opacity: 0;
        transform: translate(-2%, 300%);
    }

    100%{
        opacity: 1;
        transform: translate(-2%, 0%);
    }
}

@keyframes slide-left_and_fade-in {
    0%{
        opacity: 0;
        transform: translateX(-5em);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right_and_fade-in {
    0%{
        opacity: 0;
        transform: translateX(5em);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    padding: 1rem 1rem;
    justify-content: center;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(27, 32, 41);
    background-color: black;
    position: fixed;
    z-index: 9999;
}

header img{
    width: auto;
    height: 4em;
    filter: brightness(0) invert(1);
    transform: translateX(-20%);
}

header img:hover{
    cursor: pointer;    
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 6rem;
    background-color: rgb(27, 32, 41);
    justify-content:space-between;
    z-index: 9998;
}

nav div ul{
    padding-left: 2em;
    padding-right: 2em;
}

nav div ul img{
    width: 2em;
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
    padding-top: 0.5em;
}

nav div li{
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    float: left;
}

nav div li:hover{
    cursor:default;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

div.content-div{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 100%;
    height: 1280px;
    overflow: hidden;
    background-color: black;
}

div.content-div section.maintitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

div.content-div section.maintitle h1{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    animation: slip_and_fade_in cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s 1 2s;
    animation-fill-mode: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

div.content-div section.maintitle p{
    position: absolute;
    text-align: center;
    margin-top: 10vh;
    width: 100%;
    z-index: 2;
    animation: slip_and_fade_in cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s 1 4s;
    animation-fill-mode: both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

div.content-div section.maintitle img{
    object-fit: cover;
    width: 100vw;
    filter: blur(0.3rem) brightness(0.5);
    animation: blur_in_and_darkenss cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s  1;
}

div.content-div section.maintitle img.grayscale{
    filter: grayscale(1);
}

.space{
    padding-top: 1em;
    padding-bottom: 1em;
}

.shadow{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    box-shadow: inset 0 -15vh 5vh 0 black;
}

.SIGI{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.slide-left{
    animation: slide-left_and_fade-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s 1;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.slide-right{
    animation: slide-right_and_fade-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s 1;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.animate{
    animation-play-state: running;
}

.SIGI h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 24vw;
}

.SIGI p{
    width: 25vw;
    height: auto;
    margin-top: 1.5em;
    margin-left: 22vw;
    font-family: Arial, Helvetica, sans-serif;
}

.SIGI img{
    position: absolute;
    object-fit: cover;
    width: 20vw;
    height: auto;
    margin-left: 55vw;
    margin-top: 5vh;
}

@media screen and (max-device-width: 720px) {
    nav{
        display:none;
    }
    div.content-div section.maintitle{
        height:auto;
    }
}